@use "accordion-tabs" as *;
@use "forms" as *;

$gray: #9E9A97;
$light-blue: #96D9F5;
$blue: #3D9DFF;
$dark-gray: #2C2B32;
$black: #000000;
$white: #FFFFFF;
$light-gray: #D7E2DF;

// Bezier curve for transitions
$bezier: cubic-bezier(0.190, 1.000, 0.220, 1.000);

html:not(.wf-doc) {
    font-size: min(16px, 1.1vw);

    @media screen and (max-width: 991px) {
        font-size: min(max(16px, 2.0833333vw), 26px);
    }

    @media screen and (max-width: 767px) {
        font-size: 2.8vw;
    }
}

body:not(.wf-control) {
    overflow-x: hidden;
    
    > *:not(.reset-forms) {
        @include form-styling;
    }

    > .wrap {
        // 12 columns with a max width of 100px per column, defined in the grid template columns minmax(0, 100px)
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 78.88px));
        justify-content: center;
        // center the grid

        &.wider {
            grid-template-columns: repeat(12, minmax(0, 140px));
        }
    }
    .button-good {
        position: relative;
        background: transparent;
        color: black;
        padding: 0.5em 1em;
        font-size: 1rem;
        border: none;
        border-radius: 999px;
        cursor: pointer;
        z-index: 0;
    }

    .button {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            padding: 2px; // Stroke width
            border-radius: 999px;
            background-image: linear-gradient(90deg, $gray 0%, $gray 40%, $light-blue 60%, $blue 100%);
            background-size: 250% 100%;
            background-position: left;
            transition: background-position 1s $bezier;        
            pointer-events: none;
            z-index: -1;
        }

        &:not(.full)::before {
            // Transparent center mask
            -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
        
        &:hover {
            &::before {
                background-position: right;
            }
        }
        
        &.active {
            &::before {
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 40%, $light-blue 60%, $blue 100%);
            }
        }
        
        &.full {
            &::before {
                background-image: linear-gradient(90deg, #3F4348 0%, $black 100%);
                opacity: 1;
                background-size: 100% 100%;
                inset: 0;
                transition: opacity 1s $bezier;
            }
            
            &::after {
                content: "";
                position: absolute;
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
                background-size: 100% 100%;
                inset: 0;
                opacity: 0;
                border-radius: 0;
                z-index: -1;
                transition: opacity 1s $bezier;
            }
            
            &:hover {
                &::after {
                    opacity: 1;
                }
                
                &::before {
                    opacity: 0;
                }
            }
        }
    }
    
    .line {
        background-image: linear-gradient(90deg, $dark-gray 0%, $dark-gray 45%, $blue 55%, $light-blue 100%);
        background-size: 250%;
        background-position: left;
        transition: background-position 1s $bezier;
        
        &:hover {
            background-position: right;
            
            &::before {
                width: 14px;
                margin-right: 0.3125rem; 
            }
            
            &::after {
                width: 0px;
            }
        }
        
        &::after {
            content: "";
            width: 14px;
            height: 2px;
            margin-left: 0.3125rem; 
            background-color: $gray;
            transition: width 1s $bezier;
        }
        
        &::before {
            content: "";
            width: 0px;
            height: 2px;
            margin-right: 0; 
            background-color: $gray;
            background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
            transition: width 1s $bezier, margin-right 1s $bezier;
        }
    }
    
    .dark {
        .button {
            color: $white;
        }
        
        .line {
            background-image: linear-gradient(90deg, $white 0%, $white 45%, $blue 55%, $light-blue 100%);
        }
    }
    
    .led-paragraph {
        &:before {
            content: "";
            background-color: $gray;
            height: 1px;
            width: 2rem;
            display: block;
            margin-bottom: 1rem;
        }
    }

    .tab {
        &.w--current {
            &::after {
                content: "";
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
                position: absolute;
                height: 4px;
                width: 100%;
                top: 100%;
                left: 0;
                z-index: 1;
            }
    
            .tab-img {
                opacity: 1;
            }
        }
    
        .tab-img {
            opacity: 0.4;
        }
    }
    
    .tab-descriptive {
        &.w--current {
            &::after {
                content: "";
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
                position: absolute;
                height: 4px;
                width: 100%;
                bottom: 100%;
                left: 0;
            }
        }
    }

    .tab-accordion {
        &::after {
            content: "";
            background-image: linear-gradient(180deg, $blue 0%, $light-blue 100%);
            position: absolute;
            width: 4px;
            height: 100%;
            top: 0;
            right: 100%;
        }
    }
    
    .tab-accordion, .faq-question {
        &-text {
            height: 0;
            transition: height 1s $bezier;
        }
    
        &.w--current {    
            .tab-accordion-text, .faq-question-text {
                opacity: 1;
                height: auto;
            }
        }
    }
    
    .w-tab-link {
        color: inherit;
    }
    
    .zigzag {

        > * {
            > * {
                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 3;
                }
            }

            &:before {
                content: "";
                order: 2;
            }
        }

        > *:nth-child(even) {
            > *:nth-child(2) {
                order: 1;
            }

            > *:nth-child(1) {
                order: 3;
            }
        }
    }


    .video-lightbox-link {
        transition: height 1s $bezier;
        interpolate-size: allow-keywords;

        .video-lightbox-wrap {
            opacity: 0;
            visibility: hidden;
        }

        .video-lightbox-circle, .video-lightbox-icon, .video-lightbox-thumbnail {
            opacity: 1;
            visibility: visible;
            transition: opacity 1s $bezier;
        }
    
        &.active {
            height: auto;

            .video-lightbox-circle, .video-lightbox-thumbnail, .video-lightbox-icon {
                opacity: 0;
                visibility: hidden;
            }

            .video-lightbox-wrap {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .hubspot-wrap {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            height: 0.87rem;
            background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
            width: 100%;
            z-index: 1;
        }
    }

    .newsletter-form {
        font-size: 16px;
        label {
            display: none;
        }

        .hsfc-Step__Content {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: flex-start;
            padding: 0;
            
            p {
                color: $white;
                margin-bottom: 1em;
            }
        }

        .hsfc-NavigationRow, .hsfc-NavigationRow__Alerts {
            margin-top: 0;
            margin-bottom: 0;
        }

        input {
            background-color: rgba($white, 0.1);
            border: none;
            height: 56px;
            border-radius: 999px 0 0 999px;
            padding: 0 32px;
            color: $white;
            font-weight: 400;
            transition: background-color 1s $bezier;

            &::placeholder {
                color: rgba($white, 0.5);
            }

            &:focus, &:hover {
                box-shadow: none;
                background-color: rgba($white, 0.2);
            }
        }

        button {
            height: 56px;
            border-radius: 0 999px 999px 0;
            background-image: linear-gradient(90deg, $dark-gray 0%, $black 100%);
            font-weight: 400;
            padding: 0 32px;
        }
        
    }

    .dropdown-list {
        opacity: 0;
        visibility: hidden;
        transform: translateY(4rem) translateX(-50%) scale(0.95);
        transition: visibility 1s $bezier, opacity 1s $bezier, transform 1s $bezier;
        display: block;
        background: transparent;


        &.w--open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0) translateX(-50%);
        }
    }
    
    .bento-item-right {
        align-items: flex-end;
        text-align: right;
    }

    .bento-item-center {
        align-items: center;
        text-align: center;
    }

    .bento-item-wide {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.checklist {
    padding-left: 1.375rem;

    &.inline {
        padding-left: 0;
    }

    li {
        list-style: none;
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.8rem;
        font-weight: 500;

        &:before {
            //checkmark character
            content: "\f00c";
            font-family: FontAwesome;
            aspect-ratio: 1;
            // background: linear-gradient(0deg, $dark-gray 0%, $dark-gray 100%);
            // clip-path: shape(from 43% 73%,line to 78.25% 37.75%,line to 71.25% 30.75%,line to 43% 59%,line to 28.75% 44.75%,line to 21.75% 51.75%,line to 43% 73%,close,move to 50% 100%,curve to 30.5% 96.06% with 43.08% 100%/36.58% 98.69%,curve to 14.63% 85.38% with 24.42% 93.44%/19.12% 89.88%,curve to 3.94% 69.5% with 10.13% 80.88%/6.56% 75.58%,curve to 0% 50% with 1.31% 63.42%/0% 56.92%,curve to 3.94% 30.5% with 0% 43.08%/1.31% 36.58%,curve to 14.63% 14.63% with 6.56% 24.42%/10.13% 19.12%,curve to 30.5% 3.94% with 19.12% 10.13%/24.42% 6.56%,curve to 50% 0% with 36.58% 1.31%/43.08% 0%,curve to 69.5% 3.94% with 56.92% 0%/63.42% 1.31%,curve to 85.38% 14.63% with 75.58% 6.56%/80.88% 10.13%,curve to 96.06% 30.5% with 89.88% 19.12%/93.44% 24.42%,curve to 100% 50% with 98.69% 36.58%/100% 43.08%,curve to 96.06% 69.5% with 100% 56.92%/98.69% 63.42%,curve to 85.38% 85.38% with 93.44% 75.58%/89.88% 80.88%,curve to 69.5% 96.06% with 80.88% 89.88%/75.58% 93.44%,curve to 50% 100% with 63.42% 98.69%/56.92% 100%,close);
            // color: $blue;
            background: $dark-gray;
            border-radius: 50%;
            display: inline-block;
            width: 1.375rem;
            height: 1.375rem;
            margin-right: 1rem;
            margin-top: 0.1rem;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
        }
    }

    &.dark {
        li:before {
            background: linear-gradient(0deg, $dark-gray 0%, $dark-gray 100%);
        }
    }
}

.divider {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    &:before {
        content: "";
        height: 1px;
        background-color: $light-gray;
        flex-grow: 1;
    }

    &:after {
        content: "";
        height: 1px;
        background-color: $light-gray;
        flex-grow: 1;
    }
}

[data-featured="2"] {
    @media screen and (min-width: 992px) {
        grid-column: span 8!important;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        grid-template-rows: 1fr;
        
        .post-img-wrap {
            aspect-ratio: unset;
            height: 100%;
        }
    }

    @media screen and (max-width: 991px) {
        grid-column: span 12!important;
    }

}

[data-featured="3"] {
    @media screen and (min-width: 992px) {
        grid-column: span 12!important;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        grid-template-rows: 1fr;

        .post-img-wrap {
            aspect-ratio: unset;
        }
    }
}

[data-featured="4"] {
    width: 40vw;

    @media screen and (max-width: 991px) {
        width: 80vw;
    }
}

.post {
    opacity: 0;
    transition: all 1s $bezier;
    animation: fadeIn 1s $bezier forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadetest {
    opacity: 0;
    transition: all 1s $bezier;
}

.solutions-block {
    .solution {
        .solution-hover {
            opacity: 0;
            scale: 0.7;
            transition: opacity 1s $bezier, scale 1s $bezier;

            @media screen and (max-width: 991px) {
                opacity: 0.8;
                scale: 1;
            }
        }

        &:first-of-type {
            .solution-hover {
                @media screen and (min-width: 992px) {
                    border-top-left-radius: 1.625rem;
                    border-bottom-left-radius: 1.625rem;
                }
            }
        }

        &:last-of-type {
            .solution-hover {
                @media screen and (min-width: 992px) {
                    border-top-right-radius: 1.625rem;
                    border-bottom-right-radius: 1.625rem;
                }
            }
        }

        &:hover {
            .solution-hover {
                opacity: .85;
                scale: 1;
            }
        }
    }
}

// Filters
.filter-links {
    .filter-link {
        input {
            display: none;
            &:checked+.w-form-label {
                &:after {
                    width: 100%;
                }
            }
        }

        .w-form-label {
            position: relative;
            padding-bottom: 1rem;
            padding-top: 1rem;
            
            &:after {
                content: "";
                position: absolute;
                background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
                height: 4px;
                width: 0%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: width 1s $bezier;
            }
        }
    }
}

.toc-link {
    &:hover {
        opacity: 1;

        &:before {
            height: 100%;
        }
    }

    &:before {
        content: "";
        position: absolute;
        background-image: linear-gradient(90deg, $blue 0%, $light-blue 100%);
        width: 4px;
        height: 0%;
        top: 50%;
        transform: translateY(-50%);
        right: 100%;
        border-radius: 2px;
        transition: height 1s $bezier;
    }
}

.blog-post-text {
    figure {
        margin-bottom: 2em;
    }

    ul {
        margin-bottom: 2rem;
    }

    li {
        list-style: disc;
        margin-bottom: 0.6rem;
        font-weight: 500;
        position: relative;
    }
}

// Recurrent combo classes
.margin-bottom {
    margin-bottom: 6.25rem;

    &-small {
        margin-bottom: 3.75rem;
    }
}

html:not(.wf-design-mode) .responsive-tab {
    .tabs-content {
        height: 0;
        opacity: 0;
        margin-bottom: 0;
        overflow: hidden;
        transition: height 1s $bezier, opacity 1s $bezier, margin-bottom 1s $bezier;
        interpolate-size: allow-keywords;
    }

    &.active {
        .responsive-tab-img {
            background-color: #f2f0e9;
        }
        .tabs-content {
            opacity: 1;
            margin-bottom: 1rem;
            height: auto;
        }
    }
}

.margin-top {
    margin-top: 6.25rem;

    &-small {
        margin-top: 3.75rem;
    }
}

.last-item {
    margin-bottom: 0;
}

.text {
    &-large {
        font-size: 1.125rem;
        line-height: 1.44;
    }

    &-small {
        font-size: 0.875rem;
    }
    &-center {
        text-align: center;
    }
}

.gapless {
    &-vertical {
        row-gap: 0;
    }

    &-horizontal {
        column-gap: 0;
    }
}

a {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -8px;
        left: 0;
        height: 10px;
        background-image: url("../assets/underline.svg");
        background-repeat: no-repeat;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.2s ease-in;
    }

    &:hover:before {
        transform: scaleX(1);
    }
}

